name: nightly

on:
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * *'

jobs:
  test-main:
    name: Nightly Testing (dev-main)
    uses: ./.github/workflows/_test.yaml
    with:
      php-version: 8.3
      typo3-version: dev-main@dev
      unit-coverage-name: coverage-unit-main
      functional-coverage-name: coverage-functional-main
      composer-require: 'typo3/cms-backend:"dev-main@dev" typo3/cms-core:"dev-main@dev" typo3/cms-extbase:"dev-main@dev" typo3/cms-filelist:"dev-main@dev" typo3/cms-fluid:"dev-main@dev" typo3/cms-frontend:"dev-main@dev"'

  test-lts:
    name: Nightly Testing (current LTS)
    uses: ./.github/workflows/_test.yaml
    with:
      php-version: 8.3
      typo3-version: '^13'
      unit-coverage-name: coverage-unit-lts
      functional-coverage-name: coverage-functional-lts
